
<div class="main">
  <div class="row animated fadeIn">
    <div class="col-lg-6" style="margin: 0 auto">
      <div class="card text-center tr-white-7">
        <div class="card-body">

          <div class="col-lg-8" style="margin: 0 auto">
            <br>
            <h1>Bienvenido a <span class="text-info">Mi Banco_.</span></h1>
            <br>
            <h1 class="text-info bolder">{{usuario.firstname + ' ' + usuario.lastname + '!' | uppercase}}</h1>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
